<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ movie.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="movie.backdrop" />
    <ion-card-content>
      <ion-card-title>
        <ion-icon *ngIf="movie.vote_average > 5" name="trending-up"></ion-icon>
        <ion-icon *ngIf="movie.vote_average <= 5" name="trending-down"></ion-icon>
        <span>{{ movie.vote_average }}/10</span>
      </ion-card-title>
      <p>{{ movie.overview }}</p>
      <!--<p>happy, heart, podium, ribbon, sad, star, star-outline, stats, thumbs-up, trending-up</p>-->
      <!--<p>{{movie|json}}</p>-->
      <button (click)="onRate('Love')" ion-button full item-right icon-left color="love"><ion-icon name="heart"></ion-icon>It was great<ion-icon *ngIf="isRated('Love')" name="checkmark-circle"></ion-icon></button>
      <button (click)="onRate('Like')" ion-button full item-right icon-left color="like"><ion-icon name="happy"></ion-icon>It was good<ion-icon *ngIf="isRated('Like')" name="checkmark-circle"></ion-icon></button>
      <button (click)="onRate('Dislike')" ion-button full item-right icon-left color="bad"><ion-icon name="sad"></ion-icon>It was not so good<ion-icon *ngIf="isRated('Dislike')" name="checkmark-circle"></ion-icon></button>
      <button (click)="onRate('Hate')" ion-button full item-right icon-left color="terrible"><ion-icon name="thumbs-down"></ion-icon>It was really bad<ion-icon *ngIf="isRated('Hate')" name="checkmark-circle"></ion-icon></button>
    </ion-card-content>
  </ion-card>
</ion-content>